body {
	left: 0;
	@include transition(linear all 400ms);
	color: $text-color;
	background-color: $bg-body;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
	&.open {
		right: 230px;
		.navbar {
			right: 230px;
		}
		&:before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            z-index: 4;
        }
	}
	@media(max-width: 1024px) {
		font-size: 14px;
	}
}
.container {
	@media (min-width: 1366px) {
		 max-width: 1080px;
	}
	@media (min-width: 1200px) {
		 max-width: 920px;
	}
}
.section {
	padding: 80px 0;
	background-color: $bg-body;
	position: relative;
	overflow: hidden;
	@media(max-width: 1024px) {
		padding: 30px 0;
	}
	&.bg-blue {
		background-color: $bg-blue;
	}
	&.bg-blue-dark {
		background-color: $bg-blue-dark;
	}
	&#contact {
		&:after {
			content: "";
			width: 634px;
			height: 640px;
			position: absolute;
			left: -200px;
			bottom: -70px;
			background-image: url($logo-bg);
			background-repeat: no-repeat;
			background-size: 100%;
			z-index: 1;
		}
	}
	h3 {
		font-size: 16px;
		color: $title-color;
		font-weight: 600;
	}
}
ul {
	&.list-icon {
    	li {
    		position: relative;
    		padding-left: 20px;
    		margin-bottom: 10px;
    		&:last-child {
    			margin-bottom: 0;
    		}
    		i {
    			position: absolute;
    			top: 4px;
    			left: 0;
    			color: $primary;
    		}
    	}
    }
}
.title {
	margin-bottom: 15px;
	padding-left: 10px;
	padding-bottom: 2px;
	position: relative;
	h2 {
		font-family: $font-poppins-serif;
		font-weight: 700;
		color: $header-bg;
		&.text-white {
			color: $white;
		}
		@media(max-width: 991px) {
			font-size: 24px;
		}
	}
	&:before {
		content: "";
		width: 37px;
		height: 37px;
		background-image: url($dot-bg);
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		top: -5px;
		left: 0;
	}
	&.left {
		text-align: left;
		&:after {
			left: 0;
			@include translateX(0);
		}
	}
}
h3 {
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 30px;
	@media(max-width: 991px) {
		font-size: 18px;
	}
}
.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}
.rounded {
	border-radius: 20px !important;
}
.box-wrapp {
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    background-color: $white;
    box-shadow: $shadow;
		@media(max-width: 1024px) {
			margin-bottom: 30px;
		}
    h3 {
  		font-weight: 600;
			color: $title-color;
  		font-size: 16px;
      @media(max-width: 991px) {
        font-size: 18px;
      }
  	}
  }
	.social-icons {
		li {
			a {
				color: $white;
				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}
	}