.home { 
  .about-wrapp {
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    background-color: $white;
    box-shadow: $shadow;
    h3 {
  		font-weight: 600;
			color: $title-color;
  		font-size: 16px;
      @media(max-width: 991px) {
        font-size: 18px;
      }
  	}
  }
  .chart-skill {
  	margin-bottom: 30px;
  	text-align: center;
  	p {
  		margin-top: 10px;
      @media(max-width: 991px) {
        font-size: 14px !important;
      }
  	}
    .circle-chart {
      width: 120px;
      height: 120px;
      @media(max-width: 991px) {
        width: 90px;
       height: 90px;
      }
    }
  }
  .list-skill {
  	h3 {
  		font-weight: 600;
  		font-size: 16px;
      @media(max-width: 991px) {
        font-size: 18px;
      }
  	}
  	ul {
  		margin-bottom: 30px;
  	}
  }
  .contact-wrapper {
  	position: relative;
  	z-index: 2;
  	p {
  		color: $white;
  		font-family: $font-poppins-serif;
  		font-weight: 300;
  	}
		.form-wrapper {
			background-color: $bg-blue-dark-01;
			border-radius: 5px;
			padding: 30px;
			position: relative;
  		z-index: 2;
			label {
				color: $white;
				font-size: 14px;
				margin-bottom: 8px;
				font-weight: 300;
			}
			.form-control {
				background-color: transparent;
				border-color: $border-input;
			}
			.btn {
				display: block;
			}
		}

  }
  .icon-img-email {
  	position: absolute;
  	bottom: 7%;
  	left: 10%;
  	z-index: 2;
    @media(max-width: 768px) {
      display: none;
    }
  }
  .icon-img-paper {
  	position: absolute;
  	bottom: 7%;
  	right: 10%;
  	z-index: 2;
    @media(max-width: 768px) {
      display: none;
    }
  }
}

.service-box {
	padding: 30px;
	box-shadow: $shadow;
	min-height: 242px;
	margin-top: 0;
	@include transition(linear 400ms all);
	&:hover {
		margin-top: -20px;
	}
	h3 {
		line-height: 20px;
	}
	img {
		max-width: 40%;
	}
	&.shadow-blue {
		color: $white;
		box-shadow: $shadow-blue;
		h3 {
			color: $white;
		}
	}
	&.shadow-yellow {
		box-shadow: $shadow-yellow;
	}
	&.shadow-pink {
		color: $white;
		box-shadow: $shadow-pink;
		h3 {
			color: $white;
		}
	}
}
.skill-item {
	.skill-info {
		h4 {
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			color: $title-color;
		}
		span {
			font-size: 14px;
		}
	}
	.progress {
		height: 8px;
	}
}
.picture-item {
	padding: 20px;
}
.portfolio-wrapper {
	background-color: $white;
	overflow: hidden;
	position: relative;
	padding: 20px;
	box-shadow: $shadow;
}