<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container nav">
		<div class="brand-wrap">
	  	<a class="navbar-brand" href="#home">Devid</a>
		</div>
	  <button class="navbar-toggler js-mobile-button" type="button">
	    <span class="navbar-toggler-icon"><i class="icon-menu"></i></span>
	  </button>

	  <div class="collapse navbar-collapse mobile-menu js-mobile-menu" id="navbar-menu">
	    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
	      </li>
				<li class="nav-item">
	        <a class="nav-link" href="#experience">Experience</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#skills">Skills</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#portfolio">Portfolio</a>
	      </li>
	      <li class="nav-item">
	        <a href="mailto:devidseptian87@gmail.com" class="btn btn-primary rounded">Hire Me</a>
	      </li>
	    </ul>
	  </div>
  </div>
</nav>