<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Devid Septian</title>
		<link rel="stylesheet" type="text/css" href="./dist/css/icons/style.css">
		<link rel="stylesheet" type="text/css" href="./dist/css/style.css">
	</head>
	<body data-spy="scroll" data-target=".main-menu" data-offset="50">
		<div class="content-area">
			<!-- header area -->
			{% include "header.html" %}
			{% block content %}{% endblock %}
			{% include "footer.html" %}
		</div>
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		<!-- popper for bootstrap -->
		<script src="./dist/js/jquery.nav.js"></script>
		<script src="./dist/js/main.min.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>