svg {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.svg-wrapp {
  width: 320px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  @media(max-width: 767px) {
    margin-bottom: 20px;
  }
  &:before {
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: $primary;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    z-index: 1;
    opacity: 0.8;
  }
}
#developer {
  animation: dev 1s ease-in-out infinite alternate;
  transform-origin: bottom;

}
#leave-right {
  animation: leaveRight 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#leave-left {
  animation: leaveLeft 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#side {
  opacity: 0;
  animation: hideShow 5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#v-head {
  opacity: 0;
  animation: hideShow 5s ease-in-out infinite alternate;
  animation-delay: 3s;
  transform-origin: center;
  transform-box: fill-box;
}
#v-content {
  opacity: 0;
  animation: hideShow 6s ease-in-out infinite alternate;
  animation-delay: 5s;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes dev {
  form {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}
@keyframes leaveRight {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@keyframes leaveLeft {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes hideShow {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}